<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="style.css" type="text/css">
		<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet' type='text/css'>
		<title>PROBOT</title>
	</head><!--
Zanemarite ove ng-nesto pizdarije. To su neke angular direktive, trenutno to nista ne radi dok ne sredim kontroler i app
	--><body ng-app="probotApp" ng-controller="MainController as details">
		<div class="header">
			<div class="container">
				<p>Guerilla</p>  <img src="/img/logoGa.png" height="300" width="300" align="middle">  <p>Athletics</p>
			</div>
		</div>
<!--Ovo bi zapravo bio nekakav jumbotron-->
		<div class="title">
			<div class="container">
				<h1>Welcome to PRobot</h1>
				<h2>-The Official PR Board of Guerilla Athletics-</h2>
			</div>
		</div><!--O
vdje mi je plan napravit angular aplikaciju koja ce uzimat detalje o PR-u iz forme i
	kreirat objekt kojeg ce potom ubaciti u novi <div class="results">
		--><div class="main">
			<div class="container">
				<h2>PR PR Youth of the Nation!</h2>
				<form class="input">
					Name:<br>
					<input type="text" id="name" placeholder="Enter your name mortal!" ng-model="details.name" required><br>
					Lift:<br>
					<input type="text" id="lift" placeholder="Pussy!" ng-model="details.lift" required><br>
					Weight lifted (kg):<br>
					<input type="number" id="weight" placeholder="Weakling!" ng-model="weight" required>
					<br>
					<input type="submit" value="Submit"> 
				</form>
			</div>
		</div>
		<div class="results">
			<div class="container">
				<p>Ovdje bi se napravio recimo bootstrap column koji sadrzi podatke o necijim PR-ovima</p>
				<p>Znaci angular ima taj ng-repeat directive koji kreira html elemente za svaki objekt ili kako god mu ti nastimas (npr. za svaki property objekta)</p>
				<div class="result-field" id="gonzo">
					<h2>Gonzo</h2>
				</div>
				<div class="result-field" id="frenzy">
					<h2>Frenzy</h2>
			    </div>
			    <div class="result-field" id="pinky">
					<h2>Pinky</h2>
			    </div>
				<div class="result-field" id="srki">
					<h2>Srki</h2>
			    </div>
			    <div class="result-field" id="max">
					<h2>Max</h2>
			    </div>
			</div>
		</div>
		<div class="footer">
			<p>Copyright: <span id="logo">GuerillaAthletics</span> 2016</p>
		</div>
	</body>
<script src="js/vendors/jquery-2.2.0.min.js"></script>
<script src="app.js"type="text/javascript"></script>	
<script src="js/vendors/angular.min.js"></script>

</html>
