* {
  margin: 0; padding: 0;
  }

html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	font-weight: 100;
}


.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
	text-align: center;
	position: relative;
}

.header {
	margin:0 auto;
	padding: 0;
	height:300px;
	display: inline-block;
	width: 100%;
}

.header p {
	display: inline-block;
	clear:left;
	font-family: 'Cinzel', serif;
	font-size: 48px;
}

.header .container{

}

/* Title */

.title {
	background: url("img/deadlift.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	height: 600px;
	margin-top: 0;
	display: inline-block;
	width: 100%;
}

.title .container {
	margin: 80px auto;
	text-align: center;
	top: 220px;
}

.title h1 {
	font-size: 82px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	font-family: 'Cinzel', serif;
	text-transform: uppercase;
}

.title h2 {
	font-family: 'Cinzel', serif;
	text-shadow: 1px 1px 1px #000;
	color: white;
}

.main {
	margin: 0 auto;
	
}

.main .container{
	margin:80px auto;
}

.results {
	margin:30px auto;
	height: 600px;
}

.result1 {
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	display: inline-block;
	margin-top:20px;
}

.results p {
	margin:0 auto;
}

.footer {
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #999;
	opacity: 0.8;
	clear: top;
	text-align: center;
}

.footer p {
	margin: 10px auto;
}

#logo {
	font-family: 'Cinzel', serif;
}