html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	font-weight: 100;
}

.container {
	margin: 0 auto;
	max-width: 940px;
	padding: 0 10px;
	text-align: center;
	background: url("");
	position: relative;
}



/* Title */

.title {
	background: url("img/deadlift.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	height: 600px;
}

.title .container {
	margin: 80px auto;
	text-align: center;
	top: 220px;
}

.title h1 {
	font-size: 82px;
	color: white;
	text-shadow: 2px 2px 2px #000;
	font-family: 'Cinzel', serif;
}

.main {
	margin:30px auto;
}

.main .container{
	margin:80px auto;
}

.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
	background: #999;
	opacity: 0.8;
	clear: top;
	text-align: center;
}

.footer p {
	margin: 10px auto;
}

#logo {
	font-family: 'Cinzel', serif;
}